noscript We're sorry but this site doesn't work properly without JavaScript enabled. Please enable it to continue.
canvas
.wrapper
	.menu
		button.menu__large-button
			h1.menu__name amata
			.menu__logo
		nav.menu__nav.selector
			ul.menu__ul
				li.menu__li.menu__li_1.menu__li-closed
					button.selector__button.selector__button_1.clickable
						.selector__button-name О компании
				li.menu__li.menu__li_2.menu__li-closed
					button.selector__button.selector__button_2.clickable
						.selector__button-name Услуги
				li.menu__li.menu__li_3.menu__li-closed
					button.selector__button.selector__button_3.clickable
						.selector__button-name Технологии
				li.menu__li.menu__li_4.menu__li-closed
					button.selector__button.selector__button_4.clickable
						.selector__button-name Наши проекты
				li.menu__li.menu__li_5.menu__li-closed
					button.selector__button.selector__button_5.clickable
						.selector__button-name Контакты
				li.menu__li.menu__li_6.menu__li-closed
					button.selector__button.selector__button_6.clickable
						.selector__button-name Вакансии
main.main
	.tapfield
	.popup
